$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-Export: "\e90f";
$icon-List: "\e90e";
$icon-XCircle: "\e90d";
$icon-add: "\e900";
$icon-arrow-left-r: "\e901";
$icon-chevron-down-o: "\e902";
$icon-chevron-right-r: "\e903";
$icon-controller: "\e904";
$icon-layout-grid-small: "\e905";
$icon-more-vertical-alt: "\e906";
$icon-more-vertical-r: "\e907";
$icon-rename: "\e908";
$icon-ShoppingBag: "\e909";
$icon-smile: "\e90a";
$icon-spinner-alt: "\e90b";
$icon-trash-empty: "\e90c";

